  <%- include('head.html'); %>
<form method="post" action="/create">
  <% if (typeof error !== 'undefined') { %>
    <p> ERROR </p>
  <% } %>
  <% if (typeof succes !== 'undefined') { %>
    <p> Youpi!! C'est entré. </p>
  <% } %>
  <fieldset>
    <legend>Creation d'article</legend>
    <label for="title">Title</label>
    <input id="title" type="text" name="title" value="<%- article[0].title %>" />
    <br />
    <label for="category">Catégorie </label>
    <input id="category" list="category-list" type="text" name="category"/>
      <datalist id="category-list">
      <% categories.forEach(function(category) {%>
        <option value="<%= category %>"></option>
      <%});%>
    </datalist>
    <br />
    <label for="localization"> Localisation </label>
    <input id="localization" list="localization-list" type="text" name="localization"/>
    <datalist id="localization-list">
      <% localizations.forEach(function(localization) {%>
        <option value="<%= localization %>"></option>
      <%});%>
    </datalist>
    <br />
    <label for="content">Article content</label>
    <textarea id="content" name="content"><%- article[0].content %></textarea>
  </fieldset>
  <button type="submit">Envoyer</button>
</form>

<%- include('footer.html'); %>
